.subscribe-section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 80px 0px 80px 0px;
  background-color: var(--color-secondary-light);

  &::after,
  &::before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    z-index: 2;
  }

  &::after {
    top: 0;
    left: 50px;
    width: 86px;
    height: 117px;
    background-image: url('../img/subscribe-arrows.png');
  }

  &::before {
    right: 0;
    bottom: 100px;
    width: 145px;
    height: 343px;
    background-image: url('../img/subscribes-pints.png');
  }

  &__container {
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    padding: 110px 0px 0px 120px;
    width: 1440px;
    height: 697px;
    background-image: url('../img/subscibe-fon.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__contact-container {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__title {
    text-align: left;
    font-size: 30px;
    font-family: 'Rowdies', sans-serif;
    font-weight: 400;
    margin-bottom: 32px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 80px;
  }

  &__input {
    font-size: 22px;
    font-weight: 400;
    color: var(--color-primary-dark);
    padding: 26px 295px 26px 40px;
    width: 610px;
    height: 80px;
    border-radius: 150px;
    border: none;
  }

  &__button {
    position: absolute;
    top: 290px;
    left: 510px;
    padding: 20px 60px;

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}
